[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
vtk = "*"
pyvista = "*"
open3d = "==0.14.1"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
